<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>0749a50c1215972e527371cd7172b958</string>
	<key>baseUrl</key>
	<string>https://api.openweathermap.org/data/2.5/weather</string>
</dict>
</plist>
